# ============================================================
# Voxly - Variaveis de Ambiente (Exemplo)
# ============================================================

# Firebase
FIREBASE_API_KEY=COLOQUE_AQUI
FIREBASE_AUTH_DOMAIN=voxly-karaoke.firebaseapp.com
FIREBASE_PROJECT_ID=voxly-karaoke
FIREBASE_STORAGE_BUCKET=voxly-karaoke.appspot.com
FIREBASE_MESSAGING_SENDER_ID=COLOQUE_AQUI
FIREBASE_APP_ID=COLOQUE_AQUI

# App
NODE_ENV=development
PORT=3000

# Build
ELECTRON_BUILDER_CACHE=~
